<!--
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 main-content">
        <a class="text-decoration-underline text-primary" onclick="history.back()"> &lt; Kembali</a>
        <article class="content-container">
          <header>
            <h2>{{jobs.position}}</h2>
            <p>{{ jobs.regency | format_regency}} - {{ jobs.date | format_datetime }}</p>
            <p>Gaji Rp.{{ jobs.wage_min }},- Rp.{{ jobs.wage_max }},-</p>
          </header>
          <section>
            <h3>Deskripsi Pekerjaan</h3>
            {{jobs.description | safe}}
          </section>
          <section>
            <span class="badge rounded-pill bg-primary">{{jobs.tag1}}</span>
            <span class="badge rounded-pill bg-primary">{{jobs.tag2}}</span>
            <button type="button" class="btn btn-primary mx-3 float-right mb-3" onclick="approvejob()">
              Terima
            </button>
            <button type="button" class="btn btn-warning float-right mb-3" onclick="rejectjob()">
              Tolak
            </button>
          </section>
        </article>
      </main>
    -->
{% extends "adminbase.html" %} {% block content %}

<a class="link-underline link-underline-opacity-0 text-primary" onclick="history.back()">
  <i class="fa-solid fa-arrow-left-long"></i> Kembali</a
>
<div class="card p-3 border-0 shadow-sm my-3">
  <h2>{{jobs.position}}</h2>
  <p>{{jobs.time_period}}</p>
  <p class="text-body-secondary mb-0">
    {{ jobs.regency | format_regency}} - {{ jobs.date | format_datetime }}
  </p>
  <p class="text-body-secondary">Gaji Rp.{{ jobs.wage_min }},- Rp.{{ jobs.wage_max }},-</p>
  <h5 class="mt-4">Deskripsi Pekerjaan</h5>
  {{jobs.description | safe}}
  <div>
    <span class="badge rounded-pill bg-primary">{{jobs.tag1}}</span>
    <span class="badge rounded-pill bg-primary">{{jobs.tag2}}</span>
    <span class="badge rounded-pill bg-warning">{{jobs.department}}</span>
  </div>
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-warning mb-3" onclick="rejectjob()">Tolak</button>
    <button type="button" class="btn btn-primary mx-3 mb-3" onclick="approvejob()">Terima</button>
  </div>
</div>
<script>
  function rejectjob() {
    $.ajax({
      type: "POST",
      url: "/admin-job/{{ jobs.uuid }}",
      data: {
        approve_give: "reject",
      },
      success: function (response) {
        if (response["result"] === "success") {
          alert(response["msg"]);
          window.location.replace("/admin-job?limit=4&offset=0");
        } else {
          alert(response["msg"]);
        }
      },
    });
  }
  function approvejob() {
    $.ajax({
      type: "POST",
      url: "/admin-job/{{ jobs.uuid }}",
      data: {
        approve_give: "yes",
      },
      success: function (response) {
        if (response["result"] === "success") {
          alert(response["msg"]);
          window.location.replace("/admin-job?limit=4&offset=0");
        } else {
          alert(response["msg"]);
        }
      },
    });
  }
</script>
{% endblock %}
