{% extends "companybase.html" %} {% block content %}
<a class="link-underline link-underline-opacity-0 text-primary" onclick="history.back()">
  <i class="fa-solid fa-arrow-left-long"></i> Kembali</a
>
<div class="card p-3 border-0 shadow-sm my-3">
  <p class="text-primary">Status: {{jobs.approve}}</p>
  <h2>{{jobs.position}}</h2>
  <p>{{jobs.time_period}}</p>
  <p class="text-body-secondary mb-0">
    {{ jobs.regency | format_regency}} - {{ jobs.date | format_datetime }}
  </p>
  <p class="text-body-secondary">Gaji Rp.{{ jobs.wage_min }},- Rp.{{ jobs.wage_max }},-</p>
  <h5 class="mt-4">Deskripsi Pekerjaan</h5>
  {{jobs.description | safe}}
  <div>
    <span class="badge rounded-pill bg-primary">{{jobs.tag1}}</span>
    <span class="badge rounded-pill bg-primary">{{jobs.tag2}}</span>
    <span class="badge rounded-pill bg-warning">{{jobs.department}}</span>
  </div>
  <div class="d-flex">
    {%if jobs.approve != 'reject'%}
    <a href="/seeker-job/{{ jobs.uuid }}" class="btn btn-outline-primary mb-3 ms-auto">
      Lihat Pendaftar
    </a>
    <a href="/job-edit/{{ jobs.uuid }}" class="btn btn-primary mb-3 ms-2"> Edit </a>
    {%else%}
    <button
      type="button"
      class="btn btn-danger float-right mb-3 ms-auto"
      data-bs-toggle="modal"
      data-bs-target="#cancleModal"
    >
      Hapus Lamaran
    </button>
    {%endif%}
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="cancleModal"
  tabindex="-1"
  aria-labelledby="cancleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="cancleModalLabel">Lowongan</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Yakin ingin menghapus lowongan anda?</div>
      <div class="modal-footer">
        <form action="/company-job-cancel" method="POST">
          <input type="hidden" name="id_jobs" value="{{jobs.uuid}}" />

          <button type="sumbit" class="btn btn-danger">Hapus Lowongan</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
