<!--
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 main-content">
          {%if msg%}
          <div class="alert alert-warning" role="alert">{{ msg }}</div>
          {% endif%}
          <h2>Profil Perusahaan Anda</h2>
          <div class="container">
            <div class="row">
              <div class="col-md-2">
                <img
                  {%
                  if
                  user_info.company_pic
                  %}
                  src="static/{{ user_info.company_pic }}"
                  {%
                  else
                  %}
                  src="https://cdn-icons-png.flaticon.com/512/3794/3794813.png?ga=GA1.1.1358335958.1701954208"
                  {%
                  endif
                  %}
                  alt="Profile Picture"
                  class="img-fluid rounded-circle"
                />
              </div>
              <div class="col-md-10">
                <p>{{ user_info.name if user_info.name else 'Nama Perusahaan' }}</p>
                <p>{{ user_info.address if user_info.address else 'Alamat Perusahaan' }}</p>
                <p>{{ user_info.sector if user_info.sector else 'Sektor Perusahaan' }}</p>

                <div class="d-flex justify-content-end mb-3">
                  <a href="{{ user_info.sosmed_1 }}" class="social-icon">
                    <i class="fa fa-instagram fa-lg"></i>
                  </a>
                  <a href="{{ user_info.sosmed_2 }}" class="social-icon ml-4">
                    <i class="fa fa-linkedin fa-lg"></i>
                  </a>
                </div>

                <div class="d-flex justify-content-end align-items-end">
                  <a href="/company-edit" class="btn btn-primary">Edit</a>
                </div>
              </div>
            </div>
          </div>

          <div class="container">
            <h3>Deskripsi Perusahaan</h3>
            <div>{{ user_info.description | safe }}</div>
          </div>
          {%if jobs%}
          <div class="container">
            <h3>Lowongan Anda</h3>
            <p>{{jobs.position}}</p>
            <p>{{ jobs.address }} Gaji Rp.{{ jobs.wage_min }} - Rp.{{ jobs.wage_max }}</p>
            <div>{{ jobs.description | safe }}</div>
            <span class="badge rounded-pill bg-primary">{{ jobs.tag1 }}</span>
            <span class="badge rounded-pill bg-primary">{{ jobs.tag2 }}</span>
            <div class="d-flex justify-content-end align-items-end">
              <a href="/company-job?limit=2&offset=0" class="btn btn-primary">Lihat Semua</a>
            </div>
          </div>
          {%endif%}
        </main>
      </div>
    </div>
    -->
{% extends "companybase.html" %} {% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 main-content">
  {%if msg%}
  <div class="alert alert-warning" role="alert">{{ msg }}</div>
  {% endif%}
  <h2>Profil Perusahaan Anda</h2>
  <div class="container">
    <div class="card p-3 border-0 shadow-sm">
      <div class="row">
        <div class="col-md-2">
          <img
            {%
            if
            user_info.company_pic
            %}
            src="static/{{ user_info.company_pic }}"
            {%
            else
            %}
            src="https://cdn-icons-png.flaticon.com/512/3794/3794813.png?ga=GA1.1.1358335958.1701954208"
            {%
            endif
            %}
            alt="Profile Picture"
            class="img-fluid rounded-circle"
          />
        </div>
        <div class="col-md-10">
          <p>{{ user_info.name if user_info.name else 'Nama Perusahaan' }}</p>
          <p>{{ user_info.address if user_info.address else 'Alamat Perusahaan' }}</p>
          <p>{{ user_info.sector if user_info.sector else 'Sektor Perusahaan' }}</p>

          <div class="d-flex justify-content-end mb-3">
            <a href="{{ user_info.sosmed_1 }}" >
              <i class="fa fa-instagram fa-2xl"></i>
            </a>
            <a href="{{ user_info.sosmed_2 }}" class="ms-4">
              <i class="fa fa-linkedin fa-2xl"></i>
            </a>
          </div>

          <div class="d-flex justify-content-end align-items-end">
            <a href="/company-edit" class="btn btn-primary">Edit</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-3">
    <div class="card p-3 border-0 shadow-sm">
      <h3>Deskripsi Perusahaan</h3>
      <div>{{ user_info.description | safe }}</div>
    </div>
  </div>
  {%if jobs%}
  <div class="container mt-3">
    <div class="card p-3 border-0 shadow-sm">
      <h2>Lowongan Anda</h2>
      <hr />

      <h3>{{jobs.position}}</h3>
      <p>{{ jobs.address }} Gaji Rp.{{ jobs.wage_min }} - Rp.{{ jobs.wage_max }}</p>
      <div>{{ jobs.description | safe }}</div>
      <div>
        <span class="badge rounded-pill bg-primary">{{ jobs.tag1 }}</span>
        <span class="badge rounded-pill bg-primary">{{ jobs.tag2 }}</span>
        <span class="badge rounded-pill bg-warning">{{ jobs.department }}</span>
      </div>
      <div class="d-flex justify-content-end align-items-end">
        <a
          href="/company-job?limit=4&offset=0&query=&prov=&kot=&tag1=&tag2="
          class="btn btn-primary"
          >Lihat Semua</a
        >
      </div>
    </div>
  </div>
  {%endif%}
</main>
{% endblock %}
