
{% extends "companybase.html" %} {% block content %}
<div class="card p-3 border-0 shadow-sm mt-2 mb-3">
  <h5 class="text-primary">Posisi Magang</h5>
  <h3>{{jobs.position}}</h3>
</div>
<div class="radio-button" style="margin-top: 20px; margin-bottom: 20px; width: max-content">
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="status"
      onchange="show_pelamar('all')"
      id="all"
    />
    <label class="form-check-label" for="all">Semua Pendaftar</label>
  </div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="status"
      onchange="show_pelamar('ditolak')"
      id="ditolak"
    />
    <label class="form-check-label" for="ditolak">Ditolak</label>
  </div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="status"
      onchange="show_pelamar('wawancara')"
      id="wawancara"
    />
    <label class="form-check-label" for="wawancara">Wawancara</label>
  </div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="status"
      onchange="show_pelamar('pending')"
      id="pending"
    />
    <label class="form-check-label" for="pending">Pending</label>
  </div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="status"
      onchange="show_pelamar('diterima')"
      id="diterima"
    />
    <label class="form-check-label" for="diterima">Diterima</label>
  </div>
</div>
<div class="container" id="list-pelamar"></div>
<script>
  $(document).ready(function () {
    show_pelamar("all");
  });

  function show_pelamar(value) {
    $("#list-pelamar").empty();
    $(`#${value}`).prop("checked", true);
    $.ajax({
      type: "GET",
      url: `/pelamar?status=${value}&job={{ jobs.uuid }}`,
      data: {},
      success: function (response) {
        let rows = response["pelamar_list"];
        for (let i = 0; i < rows.length; i++) {
          let name = rows[i]["seeker"];
          let status = rows[i]["status"];
          let badge = "";
          if (status == "pending") {
            badge = `<span class="badge text-bg-secondary">${status}</span>`;
          } else if (status == "ditolak") {
            badge = `<span class="badge text-bg-danger">${status}</span>`;
          } else if (status == "diterima") {
            badge = `<span class="badge text-bg-primary">${status}</span>`;
          } else if (status == "wawancara") {
            badge = `<span class="badge text-bg-warning">${status}</span>`;
          }
          $.ajax({
            type: "GET",
            url: `/get_name?seeker=${name}`,
            data: { seeker: name },
            success: function (response) {
              real_name = response["name"];
              let temp_html = `
                            <div
                                class="card border-0 p-3 mb-3 shadow">
                                <h5><a href="/seeker-job/{{ jobs.uuid }}/${name}" class="link-dark">${real_name}</a></h5>
                                <div class="mb-3">
                                  ${badge}
                                </div>
                            </div>
                            `;
              $("#list-pelamar").append(temp_html);
            },
          });
        }
      },
    });
  }
</script>
{% endblock %}
