
{% extends "companybase.html" %} {% block content %}
<div class="container">
  {%if msg%}
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    {{ msg }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {%endif%}
  <form action="/company-edit" method="POST">
    <div class="row">
      <div class="col-6">
        <div class="mb-3">
          <label for="name" class="form-label">Nama Perusahaan</label>
          <input type="hidden" id="uuid" name="uuid" value="{{ user_info.uuid }}" />
          <input
            type="text"
            class="form-control"
            value="{{user_info.name}}"
            name="name"
            id="name"
            placeholder=""
          />
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Lokasi Perusahaan</label>
          <input
            type="text"
            class="form-control"
            value="{{user_info.address}}"
            name="address"
            id="address"
            placeholder=""
          />
        </div>
        <div class="mb-3">
          <label for="sector" class="form-label">Bidang Perusahaan</label>
          <input
            type="text"
            class="form-control"
            value="{{user_info.sector}}"
            name="sector"
            id="sector"
            placeholder=""
          />
        </div>
        <div class="mb-3">
          <label for="licensing" class="form-label">Perizinan Perusahaan</label>
          <input
            type="text"
            class="form-control"
            id="licensing"
            value="{{user_info.licensing}}"
            name="licensing"
            placeholder=""
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Kontak Perusahaan</label>
          <input
            type="email"
            class="form-control"
            value="{{user_info.email}}"
            name="email"
            id="email"
            placeholder=""
          />
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label for="sosmed_1" class="form-label">Link Instagram</label>
          <input
            type="text"
            class="form-control"
            id="sosmed_1"
            value="{{user_info.sosmed_1}}"
            name="sosmed_1"
            placeholder=""
          />
        </div>
        <div class="mb-3">
          <label for="sosmed_2" class="form-label">Link LinkedIn</label>
          <input
            type="text"
            class="form-control"
            id="sosmed_2"
            value="{{user_info.sosmed_2}}"
            name="sosmed_2"
            placeholder=""
          />
        </div>
        <div style="margin-left: 0%; padding-top: 30px">
          <img
            {%
            if
            user_info.company_pic
            %}
            src="static/{{ user_info.company_pic }}"
            {%
            else
            %}
            src="https://cdn-icons-png.flaticon.com/512/3794/3794813.png?ga=GA1.1.1358335958.1701954208"
            {%
            endif
            %}
            alt=""
            width="60"
            height="60"
            class="d-inline-block align-self-center"
          />
          <a
            href="#photoModal"
            data-bs-toggle="modal"
            data-bs-target="#photoModal"
            class="btn btn-primary align-items-baseline"
            >Ubah Foto</a
          >
        </div>
      </div>
      <div class="col-12 mt-3">
        <label for="exampleFormControlInput1" class="form-label">Deskripsi Perusahaan</label>
        <input
          id="description"
          type="hidden"
          name="description"
          value="{{user_info.description}}"
        />
        <trix-editor input="description"></trix-editor>
      </div>
      <div class="col-12 d-flex justify-content-end mt-3">
        <a class="btn btn-outline-primary me-2" href="/company-info">Batal</a>
        <button class="btn btn-primary" type="submit">Simpan</button>
      </div>
    </div>
  </form>
</div>
<div
  class="modal fade"
  id="photoModal"
  tabindex="-1"
  aria-labelledby="photoModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/user-editFile" method="POST" enctype="multipart/form-data">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="photoModalLabel">Foto</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="formFile" class="form-label">File Foto</label>
            <input class="form-control" type="file" name="formFile" id="formFile" />
            <input type="hidden" name="folder" value="company_pic" />
            <input type="hidden" name="uuid" value="{{ user_info.uuid }}" />
            <input type="hidden" name="realFile" value="{{ user_info.company_pic }}" />
          </div>
        </div>
        <div class="modal-footer">
          {%if user_info.company_pic%}
          <a
            href="/download?path={{ user_info.company_pic }}"
            class="btn btn-outline-secondary me-auto"
            >Download
          </a>
          {%else%}
          <a href="" class="btn btn-outline-secondary me-auto disabled">Download </a>

          {%endif%}

          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
  {% endblock %}
</div>
