<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EditProfile</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="/docs/5.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.0/dist/trix.css" />
    <script type="text/javascript" src="https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>    

    <style>
      
      trix-toolbar [data-trix-button-group="file-tools"] {
        display: none;
      }
      trix-toolbar [data-trix-attribute="code"] {
        display: none;
      }
      trix-toolbar [data-trix-attribute="quote"] {
        display: none;
      }
    </style>
    <script>
      function save() {
        let uuid = $("#uuid").val();
        let name = $("#name").val();
        let email = $("#email").val();
        let address = $("#address").val();
        let sector = $("#sector").val();
        let sosmed_1 = $("#sosmed_1").val();
        let sosmed_2 = $("#sosmed_2").val();
        let licensing = $("#licensing").val();
        let description = $("#description").val();
        $.ajax({
          type: "POST",
          url: "/company-edit",
          data: {
            uuid :uuid ,
            name :name ,
            email :email ,
            address :address ,
            sector :sector ,
            sosmed_1 :sosmed_1 ,
            sosmed_2 :sosmed_2 ,
            licensing :licensing ,
            description :description ,
          },
          success: function (response) {
            alert(response.msg);
            window.location.reload();
          },
        });
      }
    </script>
  </head>

  <body>
    <header
      class="navbar navbar-expand-lg navbar-light bg-light"
      style="padding-bottom: 0px"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#">KERJA.DONG</a>
        <nav class="navbar navbar-light bg-light justify-content-end">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img
                {% if user_info.company_pic %}
                src="static/{{ user_info.company_pic }}"
                {% else %}
                
                src="https://cdn-icons-png.flaticon.com/512/3794/3794813.png?ga=GA1.1.1358335958.1701954208"
                {% endif %}
                alt=""
                width="30"
                height="30"
                class="d-inline-block align-text-top"
              />
              Profile
            </a>
          </div>
        </nav>
      </div>
      <hr />
    </header>
    <hr style="margin-top: 0%" />
    <nav class="align-baseline">
      <div
        class="d-inline-flex position-sticky"
        style="display: inline-block; align-items: baseline"
      >
        <nav
          class="col-8"
          style="width: 150px; height: 500px; display: inline-block"
        >
          <span>
            <ul class="list-unstyled ps-0">
              <li class="mb-1">
                <img src="" alt="" />
                <button
                  class="btn btn-toggle align-items-center rounded collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#home-collapse"
                  aria-expanded="false"
                >
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/10263/10263239.png?ga=GA1.1.1358335958.1701954208"
                    class="b1 me-2"
                    height="16"
                    width="16"
                  />
                  Home
                </button>
              </li>
              <li class="mb-1">
                <button
                  class="btn btn-toggle align-items-center rounded collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#Search-collapse"
                  aria-expanded="false"
                >
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/151/151773.png?ga=GA1.1.1358335958.1701954208"
                    class="b1 me-2"
                    height="16"
                    width="16"
                  />
                  Search
                </button>
              </li>
              <li class="mb-1">
                <button
                  class="btn btn-toggle align-items-center rounded collapsed"
                  data-bs-toggle="collapse"
                  data-bs-target="#orders-collapse"
                  aria-expanded="false"
                >
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/4389/4389454.png?ga=GA1.1.1358335958.1701954208"
                    class="b1 me-2"
                    height="16"
                    width="16"
                  />
                  Lowongan
                </button>
                <div class="collapse" id="orders-collapse" style>
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                      <a href="#" class="link-dark rounded">Lowongan Anda</a>
                    </li>
                    <li>
                      <a href="#" class="link-dark rounded">Semua Lowongan</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </span>
        </nav>
      </div>

      <div
        class="d-inline-flex flex-grow-1"
        style="display: inline-flex; align-items: center; height: max-content"
      >
        <main class="row">
          <article>
            <main
              class="col-9"
              style="display: inline-block; align-self: baseline"
            >
              <h4>Edit Profile</h4>
            </main>
          </article>
          <article class="d-inline-flex" style="margin-top: 10px; width: 400px">
            <div id="deskripsi" style="width: 400px">
              <div class="mb-3" style="width: 350px">
                <label for="name" class="form-label"
                  >Nama Perusahaan</label
                >
                <input type="hidden" id="uuid" value="{{ user_info.uuid }}" />
                <input
                  type="text"
                  class="form-control"
                  value="{{user_info.name}}"
                  name="name"
                  id="name"
                  placeholder=""
                />
              </div>
              <div class="mb-3" style="width: 350px">
                <label for="address" class="form-label"
                  >Lokasi Perusahaan</label
                >
                <input
                  type="text"
                  class="form-control"
                  value="{{user_info.address}}"
                  name="address"
                  id="address"
                  placeholder=""
                />
              </div>
              <div class="mb-3" style="width: 350px">
                <label for="sector" class="form-label"
                  >Bidang Perusahaan</label
                >
                <input
                  type="text"
                  class="form-control"
                  value="{{user_info.sector}}"
                  name="sector"
                  id="sector"
                  placeholder=""
                />
              </div>
              <div class="mb-3" style="width: 350px">
                <label for="licensing" class="form-label"
                  >Perizinan Perusahaan</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="licensing"
                  value="{{user_info.licensing}}"
                  name="licensing" 
                  placeholder=""
                />
              </div>
              <div class="mb-3" style="width: 350px">
                <label for="email" class="form-label"
                  >Kontak Perusahaan</label
                >
                <input
                  type="email"
                  class="form-control"
                  value="{{user_info.email}}"
                  name="email" 
                  id="email"
                  placeholder=""
                />
              </div>
              <div>
                <label for="exampleFormControlInput1" class="form-label"
                  >Deskripsi Perusahaan</label
                >
                <input id="description" type="hidden" name="description" value="{{user_info.description}}" />
                <trix-editor input="description"></trix-editor>
              </div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end pt-3">
                <button class="btn btn-primary me-md-2" type="button">
                  Cancel
                </button>
                <button class="btn btn-primary" type="button" onclick="save()">Save</button>
              </div>
            </div>
            <div id="Sosmed" style="width: 400px; margin-left: 100px">
              <div>
                <p style="width: 200px">Sosial Media</p>
                <div class="d-inline-flex">
                  <div class="mb-3" style="width: 350px">
                    <label for="sosmed_1" class="form-label"
                      >Sosial Media 1</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="sosmed_1"
                      value="{{user_info.sosmed_1}}"
                      name="sosmed_1" 
                      placeholder=""
                    />
                  </div>
                  <div class="mb-3" style="width: 350px">
                    <label for="sosmed_2" class="form-label"
                      >Sosial Media 2</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="sosmed_2"
                      value="{{user_info.sosmed_2}}"
                      name="sosmed_2" 
                      placeholder=""
                    />
                  </div>
                </div>
              </div>
              <div>
                <div style="margin-left: 0%; padding-top: 30px">
                  <img
                    {% if user_info.company_pic %}
                    src="static/{{ user_info.company_pic }}"
                    {% else %}
                    
                    src="https://cdn-icons-png.flaticon.com/512/3794/3794813.png?ga=GA1.1.1358335958.1701954208"
                    {% endif %}
                    alt=""
                    width="60"
                    height="60"
                    class="d-inline-block align-self-center"
                  />
                  <a
                    href="#photoModal"
                    data-bs-toggle="modal"
                    data-bs-target="#photoModal"
                    class="btn btn-primary align-items-baseline"
                    >Ubah Foto</a
                  >
                </div>
              </div>
            </div>
            <div
              class="modal fade"
              id="photoModal"
              tabindex="-1"
              aria-labelledby="photoModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <form action="/user-editFile" method="POST" enctype="multipart/form-data">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="photoModalLabel">Foto</h1>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <div class="mb-3">
                        <label for="formFile" class="form-label">File Foto</label>
                        <input class="form-control" type="file" name="formFile" id="formFile" />
                        <input type="hidden" name="folder" value="company_pic" />
                        <input type="hidden" name="uuid" value="{{ user_info.uuid }}" />
                        <input type="hidden" name="realFile" value="{{ user_info.company_pic }}" />
                      </div>
                    </div>
                    <div class="modal-footer">
                      <a
                        href="/download?path={{ user_info.profile_pic }}"
                        class="btn btn-outline-secondary me-auto"
                      >
                        Download
                      </a>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                      </button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </article>
        </main>
      </div>
    </nav>
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
  </body>
</html>
