<!--
        <div class="container mt-5 center-container">
          <form action="/job-edit/{{ job.uuid }}" method="POST" class="input-container" style="margin-top:500px">
            {% if msg %}
            <div class="alert alert-warning mt-5 mb-0" role="alert">{{ msg }}</div>
            {% endif %}
            <h2>Edit Lowongan</h2>
            <div class="row mt-5">
              <div class="col-md-12 mb-3">
                <label for="position">Posisi</label>                
                <input
                  type="text"
                  class="form-control"
                  id="position"
                  name="position"
                  placeholder=""
                  value="{{ job.position }}"
                  required
                />
              </div>
              <div class="col-md-12 mb-3">
                <label for="description">Deskripsi Posisi</label>
                <input id="description" type="hidden" value="{{ job.description }}" name="description"  />
                <trix-editor input="description"></trix-editor>
              </div>
              <div class="col-md-3 mb-3">
                <label for="prov">Provinsi - {{ job.province|format_province }}</label>
                <select class="form-control" id="prov" name="prov" required>
                  <option selected value="">Open this select menu</option>
                </select>
              </div>

              <div class="col-md-3 mb-3">                
                <label for="kot">Kota - {{job.regency|format_regency}}</label>
                <select class="form-control" id="kot" name="kot" required>
                  <option selected value="">Open this select menu</option>
                </select>
              </div>

              <div class="col-md-6 mb-3">
                <label for="address">Alamat Lengkap</label>
                <input
                  type="text"
                  class="form-control"
                  id="address"
                  name="address"
                  value="{{ job.address }}"
                  required
                  placeholder="Alamat Lengkap"
                />
              </div>
              <div class="col-md-12 mb-3">
                <label for="time_period">Jangka Waktu Magang</label>
                <input
                  type="text"
                  class="form-control"
                  id="time_period"
                  required
                  value="{{ job.time_period }}"
                  name="time_period"
                  placeholder=""
                />
              </div>
              <div class="col-md-3 mb-3">
                <label for="wage_min">Gaji Minimal</label>
                <input
                  type="number"
                  class="form-control"
                  id="wage_min"
                  required
                  name="wage_min"
                  value="{{ job.wage_min }}"
                  placeholder="Rp."
                />
              </div>
              <div class="col-md-3 mb-3">
                <label for="wage_max">Gaji Maksimal</label>
                <input
                  type="number"
                  class="form-control"
                  id="wage_max"
                  name="wage_max"
                  value="{{ job.wage_max }}"
                  required
                  placeholder="Rp."
                />
              </div>
              <div class="col-md-12 mb-3">
                <label for="department">Jurusan</label>
                <select class="form-control" id="department" name="department" required>
                  <option value="">pilih</option>
                  <option value="Kedokteran-Keperawatan" {% if job.department == "Kedokteran-Keperawatan" %} selected {%endif%} >Kedokteran-Keperawatan</option>
                  <option value="Akuntansi-Keuangan" {% if job.department == "Akuntansi-Keuangan" %} selected {%endif%}>Akuntansi-Keuangan</option>
                  <option value="Media-Komunikasi" {% if job.department == "Media-Komunikasi" %} selected {%endif%}>Media-Komunikasi</option>                  
                  <option value="IT" {% if job.department == "IT" %} selected {%endif%}>IT</option>
                  
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <label for="tag1">Tag 1</label>
                <select class="form-control" id="tag1" name="tag1" required>
                  <option value="">pilih</option>
                  <option value="Cash-Management" {% if job.tag1 == "Cash-Management" %} selected {%endif%}>Cash Management</option>
                  <option value="Microsft-Office" {% if job.tag1 == "Microsft-Office" %} selected {%endif%}>Microsft Office</option>
                  <option value="Adobe-Photoshop" {% if job.tag1 == "Adobe-Photoshop" %} selected {%endif%}>Adobe Photoshop</option>
                  <option value="Figma" {% if job.tag1 == "Figma" %} selected {%endif%}>Figma</option>
                  <option value="Public-Speaking" {% if job.tag1 == "Public-Speaking" %} selected {%endif%}>Public Speaking</option>
                  <option value="Leadership" {% if job.tag1 == "Leadership" %} selected {%endif%}>Leadership</option>
                  <option value="Web-Development" {% if job.tag1 == "Web-Development" %} selected {%endif%}>Web Development</option>
                  <option value="Desain-Web" {% if job.tag1 == "Desain-Web" %} selected {%endif%}>Desain Web</option>
                  <option value="Penjualan-Pemasaran" {% if job.tag1 == "Penjualan-Pemasaran" %} selected {%endif%}>Penjualan dan Pemasaran</option>
                  <option value="Keperawatan" {% if job.tag1 == "Keperawatan" %} selected {%endif%}>Keperawatan</option>
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <label for="tag2">Tag 2</label>
                <select class="form-control" id="tag2" name="tag2" required>
                  <option value="">pilih</option>
                  <option value="Cash-Management" {% if job.tag2 == "Cash-Management" %} selected {%endif%}>Cash Management</option>
                  <option value="Microsft-Office" {% if job.tag2 == "Microsft-Office" %} selected {%endif%}>Microsft Office</option>
                  <option value="Adobe-Photoshop" {% if job.tag2 == "Adobe-Photoshop" %} selected {%endif%}>Adobe Photoshop</option>
                  <option value="Figma" {% if job.tag2 == "Figma" %} selected {%endif%}>Figma</option>
                  <option value="Public-Speaking" {% if job.tag2 == "Public-Speaking" %} selected {%endif%}>Public Speaking</option>
                  <option value="Leadership" {% if job.tag2 == "Leadership" %} selected {%endif%}>Leadership</option>
                  <option value="Web-Development" {% if job.tag2 == "Web-Development" %} selected {%endif%}>Web Development</option>
                  <option value="Desain-Web" {% if job.tag2 == "Desain-Web" %} selected {%endif%}>Desain Web</option>
                  <option value="Penjualan-Pemasaran" {% if job.tag2 == "Penjualan-Pemasaran" %} selected {%endif%}>Penjualan dan Pemasaran</option>
                  <option value="Keperawatan" {% if job.tag2 == "Keperawatan" %} selected {%endif%}>Keperawatan</option>
                </select>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" {%if job.status == 'active'%} checked {%endif%} name="status" id="active" value="active">
                <label class="form-check-label" for="active">Active</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" {%if job.status == 'off'%} checked {%endif%} name="status" id="off" value="off">
                <label class="form-check-label" for="off">Off</label>
              </div>
              <div class="col-md-10 mt-3">
                <button type="button" onclick="history.back()" class="btn btn-warning float-right">
                  Cancel
                </button>
              </div>
              <div class="col-md-2 mt-3">
                <button type="submit" class="btn btn-primary float-right">
                  Simpan
                </button>
              </div>
            </div>
          </form>
        </div>
      -->

{% extends "companybase.html" %} {% block content %}
<div class="container mt-4 center-container">
  <form action="/job-edit/{{ job.uuid }}" method="POST" class="input-container">
    {% if msg %}
    <div class="alert alert-warning mt-5 mb-0" role="alert">{{ msg }}</div>
    {% endif %}
    <h2>Edit Lowongan</h2>
    <div class="row">
      <div class="col-md-12 mb-3">
        <label for="position">Posisi</label>        
        <input
          type="text"
          class="form-control"
          id="position"
          name="position"
          placeholder=""value="{{ job.position }}"
          required
        />
      </div>
      <div class="col-md-12 mb-3">
        <label for="description">Deskripsi Posisi</label>
        <input id="description" type="hidden" name="description"  value="{{ job.description }}"/>
        <trix-editor input="description"></trix-editor>
      </div>
      <div class="col-md-3 mb-3">
        <label for="prov1">Provinsi  - {{ job.province|format_province }}</label>
        <select class="form-control" id="prov1" name="prov" required>
          <option selected value="">Open this select menu</option>
        </select>
      </div>

      <div class="col-md-3 mb-3">
        <label for="kot1">Kota  - {{ job.regency|format_regency }}</label>
        <select class="form-control" id="kot1" name="kot" required>
          <option selected value="">Open this select menu</option>
        </select>
      </div>

      <div class="col-md-6 mb-3">
        <label for="address">Alamat Lengkap</label>
        <input
          type="text"
          class="form-control"
          id="address"
          name="address"
          required value="{{ job.address }}"
          placeholder="Alamat Lengkap"
        />
      </div>
      <div class="col-md-12 mb-3">
        <label for="time_period">Jangka Waktu Magang</label>
        <input
          type="text"
          class="form-control"
          id="time_period"
          required value="{{ job.time_period }}"
          name="time_period"
          placeholder=""
        />
      </div>
      <div class="col-md-3 mb-3">
        <label for="wage_min">Gaji Minimal</label>
        <input
          type="number"
          class="form-control"
          id="wage_min"
          required
          value="{{ job.wage_min }}"
          name="wage_min"
          placeholder="Rp."
        />
      </div>
      <div class="col-md-3 mb-3">
        <label for="wage_max">Gaji Maksimal</label>
        <input
          type="number"
          class="form-control"
          id="wage_max"
          name="wage_max"
          value="{{ job.wage_max }}"
          required
          placeholder="Rp."
        />
      </div>
      <div class="col-md-12 mb-3">
        <label for="department">Jurusan</label>
        <select class="form-control" id="department" name="department" required>
          <option value="">pilih</option>
          <option value="Kedokteran-Keperawatan" {% if job.department == "Kedokteran-Keperawatan" %} selected {%endif%} >Kedokteran-Keperawatan</option>
          <option value="Akuntansi-Keuangan" {% if job.department == "Akuntansi-Keuangan" %} selected {%endif%}>Akuntansi-Keuangan</option>
          <option value="Media-Komunikasi" {% if job.department == "Media-Komunikasi" %} selected {%endif%}>Media-Komunikasi</option>                  
          <option value="IT" {% if job.department == "IT" %} selected {%endif%}>IT</option>
          
        </select>
      </div>
      <div class="col-md-6 mb-3">
        <label for="tag1">Tag 1</label>
        <select class="form-control" id="tag1" name="tag1" required>
          <option value="">pilih</option>
          <option value="Cash-Management" {% if job.tag1 == "Cash-Management" %} selected {%endif%}>Cash Management</option>
          <option value="Microsft-Office" {% if job.tag1 == "Microsft-Office" %} selected {%endif%}>Microsft Office</option>
          <option value="Adobe-Photoshop" {% if job.tag1 == "Adobe-Photoshop" %} selected {%endif%}>Adobe Photoshop</option>
          <option value="Figma" {% if job.tag1 == "Figma" %} selected {%endif%}>Figma</option>
          <option value="Public-Speaking" {% if job.tag1 == "Public-Speaking" %} selected {%endif%}>Public Speaking</option>
          <option value="Leadership" {% if job.tag1 == "Leadership" %} selected {%endif%}>Leadership</option>
          <option value="Web-Development" {% if job.tag1 == "Web-Development" %} selected {%endif%}>Web Development</option>
          <option value="Desain-Web" {% if job.tag1 == "Desain-Web" %} selected {%endif%}>Desain Web</option>
          <option value="Penjualan-Pemasaran" {% if job.tag1 == "Penjualan-Pemasaran" %} selected {%endif%}>Penjualan dan Pemasaran</option>
          <option value="Keperawatan" {% if job.tag1 == "Keperawatan" %} selected {%endif%}>Keperawatan</option>
        </select>
      </div>
      <div class="col-md-6 mb-3">
        <label for="tag2">Tag 2</label>
        <select class="form-control" id="tag2" name="tag2" required>
          <option value="">pilih</option>
          <option value="Cash-Management" {% if job.tag2 == "Cash-Management" %} selected {%endif%}>Cash Management</option>
          <option value="Microsft-Office" {% if job.tag2 == "Microsft-Office" %} selected {%endif%}>Microsft Office</option>
          <option value="Adobe-Photoshop" {% if job.tag2 == "Adobe-Photoshop" %} selected {%endif%}>Adobe Photoshop</option>
          <option value="Figma" {% if job.tag2 == "Figma" %} selected {%endif%}>Figma</option>
          <option value="Public-Speaking" {% if job.tag2 == "Public-Speaking" %} selected {%endif%}>Public Speaking</option>
          <option value="Leadership" {% if job.tag2 == "Leadership" %} selected {%endif%}>Leadership</option>
          <option value="Web-Development" {% if job.tag2 == "Web-Development" %} selected {%endif%}>Web Development</option>
          <option value="Desain-Web" {% if job.tag2 == "Desain-Web" %} selected {%endif%}>Desain Web</option>
          <option value="Penjualan-Pemasaran" {% if job.tag2 == "Penjualan-Pemasaran" %} selected {%endif%}>Penjualan dan Pemasaran</option>
          <option value="Keperawatan" {% if job.tag2 == "Keperawatan" %} selected {%endif%}>Keperawatan</option>
        </select>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" {%if job.status == 'active'%} checked {%endif%} name="status" id="active" value="active">
        <label class="form-check-label" for="active">Active</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" {%if job.status == 'off'%} checked {%endif%} name="status" id="off" value="off">
        <label class="form-check-label" for="off">Off</label>
      </div>
      <div class="col-12 mt-3 d-flex">
        <a href="/company" class="btn btn-outline-primary ms-auto">Cancel</a>
        <button type="submit" class="btn btn-primary ms-2">Ubah</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
