{% extends "userbase.html" %} {% block content %}
<a class="link-underline link-underline-opacity-0 text-primary" onclick="history.back()">
  <i class="fa-solid fa-arrow-left-long"></i> Kembali</a
>
<div class="card p-3 border-0 shadow-sm my-3">
  <h2>{{jobs.position}}</h2>
  <p>{{jobs.time_period}}</p>
  <p class="text-body-secondary mb-0">
    {{ jobs.regency | format_regency}} - {{ jobs.date | format_datetime }}
  </p>
  <p class="text-body-secondary">Gaji Rp.{{ jobs.wage_min }},- Rp.{{ jobs.wage_max }},-</p>
  <h5 class="mt-4">Deskripsi Pekerjaan</h5>
  {{jobs.description | safe}}
  <div>
    <span class="badge rounded-pill bg-primary">{{jobs.tag1}}</span>
    <span class="badge rounded-pill bg-primary">{{jobs.tag2}}</span>
    <span class="badge rounded-pill bg-warning">{{jobs.department}}</span>
  </div>
  <div class="d-flex">
    {%if cek%} {% if cek == 'belum Daftar'%}
    <button
      type="button"
      class="btn btn-primary float-right mb-3 ms-auto"
      data-bs-toggle="modal"
      data-bs-target="#daftarModal"
    >
      Daftar
    </button>
    {% elif cek.status == 'pending'%}
    <button
      type="button"
      class="btn btn-danger float-right mb-3 ms-auto"
      data-bs-toggle="modal"
      data-bs-target="#cancleModal"
    >
      Batalkan Lamaran
    </button>
    <button type="button" class="btn btn-primary disabled float-right mb-3 ms-2">
      {{ cek.status }}
    </button>
    {% else %}
    <button
      type="button"
      class="btn btn-primary disabled float-right mb-3 ms-auto"
      data-toggle="modal"
      data-target="#exampleModal"
    >
      {{ cek.status }}
    </button>

    {%endif%} {%endif%}
  </div>
</div>
<div
  class="modal fade"
  id="daftarModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="daftarModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form method="POST" action="/user-job/{{ jobs.uuid }}">
        <div class="modal-header">
          <h5 class="modal-title" id="daftarModalLabel">Ketik Cover Letter Anda</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label for="Letter">Cover Letter</label>
          {%if user_info%}
          <input id="seeker" type="hidden" value="{{ user_info.uuid }}" name="seeker" />
          {%endif%}
          <input id="job" type="hidden" value="{{ jobs.uuid }}" name="job" />

          <input id="Letter" type="hidden" name="Letter" />
          <trix-editor input="Letter"></trix-editor>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Kirim</button>
        </div>
      </form>
    </div>
  </div>
</div>
{%if cek%}
<!-- Modal -->
<div
  class="modal fade"
  id="cancleModal"
  tabindex="-1"
  aria-labelledby="cancleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="cancleModalLabel">Lamaran</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Yakin ingin membatalkan laraman anda?</div>
      <div class="modal-footer">
        <form action="/user-job-cancel" method="POST">
          <input type="hidden" name="id_applicant" value="{{ cek.uuid }}" />

          <button type="sumbit" class="btn btn-danger">Batalkan Lamaran</button>
        </form>
      </div>
    </div>
  </div>
</div>
{%endif%} {% endblock %}
