
{% extends "userbase.html" %} {% block content %}
<main>
  <h2>Profil Anda</h2>
  <div class="container">
    <div class="card p-3 border-0 shadow-sm">
      <div class="row">
        <div class="col-md-2">
          <img
            {%
            if
            user_info.profile_pic
            %}
            src="static/{{ user_info.profile_pic }}"
            {%
            else
            %}
            src="https://cdn-icons-png.flaticon.com/512/3794/3794813.png?ga=GA1.1.1358335958.1701954208"
            {%
            endif
            %}
            alt="Profile Picture"
            class="img-fluid rounded-circle"
          />
        </div>
        <div class="col-md-10">
          <p>{{ user_info.username if user_info.username else 'Nama' }}</p>
          <p>{{ user_info.address if user_info.address else 'Alamat' }}</p>
          <p>
            {{ user_info.department if user_info.department else 'Jurusan' }} - {{
            user_info.university if user_info.university else 'Universitas' }}
          </p>

          <div class="d-flex justify-content-end align-items-end">
            <a href="/user-edit" class="btn btn-primary">Edit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-3">
    <div class="card p-3 border-0 shadow-sm">
      <h2>Deskripsi Diri</h2>
      <p>
        {{ user_info.description if user_info.description else 'Disini tempat untuk tampilan
        deskripsi diri dari user yang ada.' }}
      </p>
    </div>
  </div>
  <div class="container mt-3">
    <div class="card p-3 border-0 shadow-sm d-flex">
      <div class="fs-2 me-auto">Kualifikasi</div>
      <div>
        {%if user_info.cv%}
        <a href="/download?path={{ user_info.cv }}">CV</a>
        {%else %}
        <a href="">CV (Lengkapi CV anda)</a>
        {%endif%} {%if user_info.certification %}
        <a href="/download?path={{ user_info.certification }}">Sertifikasi</a>
        {%else%}
        <a href="">Sertifikasi (Lengkapi Sertifikasi anda)</a>
        {%endif%}
      </div>
    </div>
  </div>
  {%if jobs%}
  <div class="container mt-3">
    <div class="card p-3 border-0 shadow-sm">
      <h2>Lamaran Anda</h2>
      <hr>
      <h3>{{jobs.position}}</h3>
      <p>{{ jobs.address }} Gaji Rp.{{ jobs.wage_min }} - Rp.{{ jobs.wage_max }}</p>
      <div>{{ jobs.description | safe }}</div>

      <div>
        <span class="badge rounded-pill bg-primary">{{ jobs.tag1 }}</span>
        <span class="badge rounded-pill bg-primary">{{ jobs.tag2 }}</span>
        <span class="badge rounded-pill bg-warning">{{ jobs.department }}</span>
      </div>
      <div class="d-flex justify-content-end align-items-end">
        <a href="/user-job?limit=2&offset=0" class="btn btn-primary">Lihat Semua</a>
      </div>
    </div>
  </div>
  {%endif%}
</main>
{% endblock %}
